.container-client{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: 64px 1fr;
}

header{
    background-color: #009181;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    grid-row: 1 / 2;
    display: flex;
}

#main-client{
    grid-row: 2 / 2;
    display: flex;
    flex-direction: column;
}

.logo_header{
    width: 180px;
    margin: 5px;
}

.container-title{
    width: 100%;
}

.container-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exitButton-container{
    display: flex;
    justify-content: flex-end;
}

.client-card{
    width: 560px;
    height: 340px;
    background-image: url('../../../assets/carteirinha/frente/fundo-1.svg');
    display: flex;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.68);
}

.container-card{
    width:100%;
    height: 100%;
    display: flex;
    background-image: url('../../../assets/carteirinha/frente/logo.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 287px;
    background-position-y: 182px;
    padding: 5px;
}

.container-card-backside{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.h1-title{
    font-size: 1.2em;
    color: rgb(134, 134, 134);
    padding: 10px;
}

.logo_carteira{
    margin-block-start: auto;
    width: 90%;
    margin-bottom: 20px;
}

.grupo_direita{
    margin-right: -18px;
}



.h2-styled-branco{
    font-family: theBoldFont;
    font-size: x-large;
    align-self: center;
    -webkit-text-stroke-width: 0.04em;
    -webkit-text-stroke-color: #FFFFFF; 
}

.h2-nome{
    font-family: theBoldFont;
}

.h2-styled{
    font-family: theBoldFont;
}

.h2-modal{
    font-family: theBoldFont;
    font-size: medium;
}

.column1-backside{
    display: flex;
    flex-direction: column;
    width: 33%;

}

.column2-backside{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.grupo-direita-backside{
    margin-right: -40px;
}

.texto-backside{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.redes-sociais{
    width: 100%;
}

.logo_carteira-verso{
    margin-block-start: auto;
    width: 100%;
}

.redes-sociais{
    margin-block-start: auto;
}