.container-partner{
    width: 100%;
    height: calc(100vh - 98px);
    display: grid;
    grid-template-rows: 1fr 90%;
}

.container-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-code#partner{
    width: 60%;
    margin-right: 10px;
    margin-top: 10px;
}

.button#button_partner{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
}