.container-modal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: url('../../../../assets/Logo_Recorte_Branco.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 350px;
    background-position-y: 105px;
}

.column1{
    width: 45%;
    color: #E4FF23;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-bottom: 3%;
}

.column2{
    width: 55%;
    height: fit-content;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    padding-bottom: 3%;
}

.row1{
    display: flex;
}
.row2{
    display: flex;
}

.logo_modal{
    margin-block-start: auto;
    width: 80%;
}

.h2-modal#email{
    margin-top: 30px;
}
.h2-nome{
    font-size: xx-large;
}
.h2-styled{
    font-size: xx-large;
    color: #003832;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-stroke-color: #E4FF23; 
    font-weight: 700;
}

.h2-styled-branco{
    font-weight: 700;
    font-size: xx-large;
    color: #003832;
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: #009181; 
}

.h2-modal{
    overflow: auto;
}

.h2-modal#code{
    padding: 7px;
}

.h2-modal#status{
    padding: 7px;
}
